.vscode/
.history/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# model
model.pth.tar-iter-*
checkpoint

# wandb files
wandb

# tensorboard
tensorboard/

pretrained/

# ignore the data
HDTF_TFHP/
VOCASET/
TalkScene/
models/Avatar/data/

node_modules/

# ignore the largest json files
filtered_video_clips_with_captions.json
filtered_video_clips.json
mini_filtered_video_clips_with_captions.json

# filt data videos
data/data_pipline/audio_visual_dataset/output
data/data_pipline/audio_visual_dataset/output_clips