.vscode/
.history/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# training output
model/
renderings/

# wandb files
wandb/

# tensorboard
tensorboard/

# 3DMM files
FLAME/

# ignore the data
data/HDTF_TFHP
data/MNIST
data/VOCASET
data/data_pipline/audio_visual_dataset/