absl-py==2.3.1
aiodns @ file:///croot/aiodns_1756292939355/work
aiofiles==23.2.1
aiohappyeyeballs @ file:///croot/aiohappyeyeballs_1755769838153/work
aiohttp @ file:///croot/aiohttp_1756374103858/work
aiosignal @ file:///croot/aiosignal_1755870803324/work
albucore==0.0.24
albumentations==2.0.8
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.5.0
async-timeout @ file:///croot/async-timeout_1732661977001/work
attrs @ file:///croot/attrs_1734533101012/work
audioread==3.0.1
av @ file:///home/conda/feedstock_root/build_artifacts/av_1658711395283/work
beautifulsoup4==4.13.5
Bottleneck @ file:///croot/bottleneck_1731058641041/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1666788425425/work
brotlicffi @ file:///croot/brotlicffi_1736182461069/work
certifi==2025.10.5
cffi==1.17.0
chardet==5.2.0
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
chumpy @ file:///mnt/d/Projects/Repro/3DTalkingHead/ubisoft-laforge-msmd/docker_environment/chumpy
click==8.1.7
cmake==3.30.3
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
coloredlogs==15.0.1
contourpy==1.3.0
cycler==0.12.1
Cython==3.1.4
datasets @ file:///home/conda/feedstock_root/build_artifacts/datasets_1717425882640/work
debugpy @ file:///home/conda/feedstock_root/build_artifacts/debugpy_1649586347330/work
decorator==4.4.2
dill @ file:///croot/dill_1715094664823/work
dlib==20.0.0
easydict==1.13
einops==0.8.0
eval_type_backport==0.2.2
exceptiongroup==1.2.2
face_alignment==1.3.4
fastapi==0.115.0
ffmpeg-python==0.2.0
ffmpy==0.4.0
filelock==3.15.4
flatbuffers==25.9.23
fonttools==4.53.1
freetype-py==2.4.0
frozenlist @ file:///croot/frozenlist_1730902802621/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1710808267764/work
ftfy==6.3.1
future==1.0.0
fvcore==0.1.5.post20221221
gdown==5.2.0
gitdb==4.0.12
GitPython==3.1.45
gradio_client==1.3.0
grpcio==1.76.0
h11==0.14.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hf-xet @ file:///croot/hf-xet_1755725946166/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore==1.0.5
httpx==0.27.2
huggingface-hub==0.25.1
humanfriendly==10.0
hydra-core==1.3.2
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
-e git+https://github.com/hhj1897/face_alignment.git@9cf5494e443f26d567972f3f50f6212d65b76c01#egg=ibug_face_alignment&subdirectory=../../../external/face_alignment
-e git+https://github.com/hhj1897/face_detection@db2a4e8eae8c9c53385ff0773e9db08f03cf21ad#egg=ibug_face_detection&subdirectory=../../../external/face_detection
idna @ file:///croot/idna_1714398848350/work
imageio==2.34.2
imageio-ffmpeg==0.5.1
importlib_metadata==8.2.0
importlib_resources==6.4.0
-e git+https://github.com/Zielon/MICA.git@af22e7a5810d474bc28a1433db533723d6bd2b07#egg=insightface&subdirectory=insightface-0.7/insightface-0.7/python-package
iopath==0.1.10
Jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.4.5
kornia==0.6.6
lazy_loader==0.4
librosa==0.10.2.post1
lit==18.1.8
llvmlite==0.43.0
lmdb==1.5.1
loguru==0.7.3
Markdown==3.9
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.4
mdurl==0.1.2
mesh==1.0.0a1
ml_dtypes==0.5.3
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.8
multidict @ file:///croot/multidict_1730905498140/work
multiprocess @ file:///croot/multiprocess_1692294385131/work
munch==4.0.0
networkx==3.1
ninja==1.11.1.1
numba==0.60.0
numexpr @ file:///croot/numexpr_1730215937391/work
numpy==1.26.4
nvdiffrast @ file:///mnt/d/Projects/Repro/3DTalkingHead/ubisoft-laforge-msmd/docker_environment/nvdiffrast-0.3.1
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
omegaconf==2.3.0
onnx==1.19.1
onnxruntime==1.17.1
opencv-contrib-python==4.10.0.84
opencv-python==4.11.0.86
opencv-python-headless==4.12.0.88
openmesh==1.2.1
orjson==3.10.7
packaging==24.1
pandas==2.0.3
pickle-mixin==1.0.2
pillow @ file:///croot/pillow_1752524526621/work
platformdirs==4.2.2
pooch==1.8.2
portalocker==3.2.0
prettytable==3.16.0
proglog==0.1.10
propcache @ file:///croot/propcache_1744012718189/work
protobuf==6.33.0
psbody-mesh @ file:///mnt/d/Projects/mesh
psutil==7.0.0
pyarrow==13.0.0
pyarrow-hotfix @ file:///home/conda/feedstock_root/build_artifacts/pyarrow-hotfix_1745605861230/work
pycares @ file:///croot/pycares_1756217929773/work
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pydub==0.25.1
pyglet==2.0.16
Pygments==2.18.0
PyOpenGL==3.1.10
PyOpenGL-accelerate==3.1.10
pyparsing==3.1.2
pyrender @ file:///home/conda/feedstock_root/build_artifacts/pyrender_1656506296055/work
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
python-multipart==0.0.10
python_speech_features==0.6
pytorch3d==0.7.3
pytz==2024.2
PyWavelets==1.6.0
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1737454647378/work
pyzmq==27.1.0
regex==2024.7.24
requests==2.32.3
resampy==0.4.3
rich==13.8.1
ruff==0.6.7
sacremoses @ file:///croot/sacremoses_1756299828229/work
safetensors==0.4.4
scikit-image==0.21.0
scikit-learn==1.6.1
scipy @ file:///croot/scipy_1733756309941/work/dist/scipy-1.13.1-cp39-cp39-linux_x86_64.whl#sha256=3b247b926209f2d9f719ebae39faf3ff891b2596150ed8f8349adfc3eb19441c
semantic-version==2.10.0
sentry-sdk==2.43.0
shellingham==1.5.4
simsimd==6.5.3
six==1.16.0
smmap==5.0.2
sniffio==1.3.1
soundfile==0.12.1
soupsieve==2.8
soxr==0.3.7
starlette==0.38.6
stringzilla==4.2.1
sympy==1.13.1
tabulate==0.9.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorboardX==2.6
termcolor==3.1.0
threadpoolctl==3.5.0
tifffile==2024.8.30
tokenizers==0.19.1
tomlkit==0.12.0
torch==2.0.0
torchaudio==2.0.1
torchvision==0.15.1
tqdm==4.66.5
transformers==4.44.2
trimesh==4.4.3
triton==2.0.0
typer==0.12.5
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.2
uvicorn==0.30.6
uvloop @ file:///croot/uvloop_1732545176183/work
wandb==0.22.3
warmup_scheduler==0.3
wcwidth==0.2.13
websockets==12.0
Werkzeug==3.1.3
xxhash @ file:///croot/python-xxhash_1737039434400/work
yacs==0.1.8
yarl @ file:///croot/yarl_1732546845924/work
zipp==3.19.2
zstandard==0.23.0
